@import '../../assets/styles/mixins.scss';

.start_panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 3px;
  border-top: 2px solid var(--white-border);
  background-color: var(--primary-grey);
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 10px;
    height: 100%;
  }
  &__button {
    display: flex;
    align-items: center;
    grid-gap: 3px;
    height: 100%;
    padding: 0 3px;
    background-color: var(--primary-grey);
    @include primaryShadow();
    cursor: pointer;
    &.active {
      @include reverseShadow();
    }
  }
  &__logo {
    width: 20px;
    height: 20px;
  }
  &__text {
    height: 17px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1.7px;
  }
}

.start_menu {
  display: flex;
  align-items: flex-end;
  padding: 0 0 4px 1px;
  max-width: 200px;
  width: 100%;
  height: 400px;
  position: absolute;
  bottom: 34px;
  background: var(--primary-grey);
  @include primaryShadow();
  &__logo {
    display: flex;
    align-items: flex-end;
    margin-left: 2px;
    height: calc(100% - 2px);
    background-color: #7b7d7b;
    & .logo {
      display: block;
    }
  }
  &__nav {
    max-width: 150px;
    width: 100%;
    .nav__list {
      padding: 0;

      &_item {
        display: flex;
        align-items: center;
        grid-gap: 7px;
        padding: 8px 3px 3px 10px;
        cursor: pointer;
        &:last-child {
          box-shadow: 0px 2px 1px -1px rgba(240, 240, 240, 0.9) inset,
            0px -1px 0px 0px rgba(141, 141, 141, 0.8);
        }
        &:hover {
          background-color: var(--primary-blue);
          color: var(--hover-text);
        }
      }
      &_shutdown {
        cursor: not-allowed;
      }
    }
  }
}

.clock {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 100%;
  @include reverseShadow();
  span {
    font-size: 14px;
  }
}
