@import '../../assets/styles/mixins.scss';

.clock {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 70px;
  width: 100%;
  height: 100%;
  @include reverseShadow();
  span {
    font-size: 14px;
  }
}
