.windows {
  display: flex;
  flex-direction: column;

  &__desktop {
    width: 100%;
    padding: 20px 10px;
    height: calc(100vh - var(--start-height));
    background-color: #018081;
  }
  &__start {
    width: 100%;
    height: var(--start-height);
  }
}
