@import "./assets/fonts/_fonts.scss";

*,
*::after,
*::before {
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "MicrosoftSansSerif";
}

:root {
  --start-color: #c0c0c0;
  --start-height: 35px;
}

body {
}
