@import './_fonts.scss';

*,
*::after,
*::before {
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 'MicrosoftSansSerif';
}

:root {
  --wallpaper-color: #018081;
  --primary-grey: #c0c0c0;
  --secondary-grey: #7b7c7c;
  --start-height: 38px;
  --white-border: #e0f2f2;
  --primary-blue: #010d80;
  --hover-text: #f0f0f8;
  --icon-label: #fff;
}
